
#styledimg{
  background-image: src="images/petals.png" alt="petals";
  background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y;

  height: 100px;
  width: 100px;
}

#top-container{
  background-color: white;
  border: 10px;
  border-color: black;
  border-style: solid;
  padding: 20px;
}


#middle-container{
  background-color: purple;
  border: 20px;
  border-color: black;
  border-style: solid;
  margin: 0px 0px 0px 260px;
}

#bottom-container{
  background-color: blue;  
  border: 10px;
  border-color: black;
  border-style: solid;
  margin: 0px 0px 0px 500px;
}

.square200{
  height: 200px;
  width: 200px;

/*   background-image: src="images/falling.gif" alt="petals";
  background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y; */
}

/* p{
  background-image: src="images/petals.png" alt="petals";
  background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y;
} */

body{
  background-color: #B9E9FC;
  margin: 10;
}

hr{
  background-color:#B9E9FC;
/*       border-style:none; */
  border: 8px dotted white;
  border-style: none none dotted;
/*   class: dashed-line; */
  height:0px;
  width: 80%;
}

h1{
  color: #19376D;
  margin-top: 0;
}

h2{
  color: #19376D;
}

h3{
  color: #19376D;
}
